html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
}

.side-menu a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;    
}

.side-menu a:hover{
    transition: 0.4s;
    transform: translateX(4px);
}

.side-menu{
    padding: 10px;
    height: 100vh;
    width: 200px;
    background: #1d1c1c;
}

.title{
    height: 50px;
    width: 80px;
    /* object-fit: contain; */
    background-image: url("../img/Nav_web_top_logo_white.png");
    background-repeat: no-repeat;
    background-size: contain;
}

a .fas{
    color: rgb(228, 228, 228);
}

a .fas + span{
    color: rgb(228, 228, 228);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
}

a .fas.logout, a .fas.logout + span{
    color: rgb(233, 131, 131);
}

.main-content{
    font-family: 'Noto Sans JP', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 20px 20px 0 20px;
}

.main-content h2{
    margin: 0;
}

.main-content h3{
    margin: 10px 0;
}

.main-content small ul{
    margin-bottom: 0;
}
.main-content .row{
    display: flex;
    align-items: flex-start;
}



.thum .title{
    height: 30px;
    width: auto;
    font-weight: normal;
}

.thum .content{
    font-weight: 500 !important;
    font-size: 24px;
}

.thum{
    margin: 12px;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 1.5px 1.5px 3px 2px rgba(0, 0, 0, 0.5);
}

ul{
    list-style: none;
    padding-left: 10px;
}
.fa-circle{
    color: rgb(112, 202, 112);
    margin-right: 5px;
}

.fa-times{
    color:rgb(233, 131, 131);
    margin-right: 8px;    
}

.menu{
    display: flex;
    margin-bottom: 17px;
}

.menu a{
    display: block;
    border-radius: 3px;
    text-decoration: none;
    padding: 8px;
    box-shadow: 1.5px 1.5px 3px 2px rgba(0, 0, 0, 0);
}

a.green{
    background:rgb(112, 202, 112);
    color: white;
}

a.green{
    background:rgb(112, 202, 112);
    color: white;
}
.menu a:hover{
    transition: 0.3s;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.7);
}

th{
    padding: 3px 5px 4px 5px;
}

.table-container{
    max-height: 80vh;    
    overflow-y: scroll;    
}

table{
    font-family: 'Noto Sans JP', sans-serif;
    margin: auto;
    border-collapse: collapse;
    width: 90%;  
}

th, td {
    max-width: 250px;
    border: 1px solid #ddd;
    padding: 3px 8px; 
} 
  
th {
    padding: 10px 8px 11px 8px;
    text-align: left;
    font-weight: normal;
    background-color: #242424;
    color: white;
}

td.center, th.center{
    text-align: center;
}

td a{
    padding: 3px; 
    display: block;
    color:rgb(32, 52, 165)
}

td label{
    padding: 3px; 
    cursor: pointer;
    display: block;
}

table tr:nth-child(even) {background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}