/*                   ■         ■         */
/*      ■       ■■■■■■■■■■■    ■■■ ■■■■■ */
/* ■■■■■■■■■■■       ■        ■■ ■ ■  ■  */
/*   ■■■■■■■     ■■■■■■■■■   ■■ ■   ■■■  */
/*   ■     ■     ■   ■   ■     ■■    ■   */
/*   ■■■■■■■     ■■■■■■■■■    ■■■■■■■■■  */
/* ■■■■■■■■■■■   ■■■■■■■■■   ■         ■ */
/* ■  ■■■■■  ■         ■     ■■■■■■■■■■■ */
/* ■  ■   ■  ■  ■■■■■■■■■■■       ■      */
/* ■  ■■■■■  ■    ■    ■       ■  ■  ■■  */
/* ■  ■     ■■     ■   ■     ■■   ■   ■■ */
/*         ■■         ■■        ■■■      */
/*                                       */

.index-top{
    height: 50vh;
    position: relative;
    position: fixed;
}

/* menu (ham)  */
#menu-ham{
    display: none;
    overflow: hidden;
}

.menu-background{
    height: 70px;
    width: 100vw;
    position: fixed;
    top: 0;
    transition: 0.3s;
    z-index: 97;
}

.menu-background.scroll-changed{
    background: white;
    transition: 0.3s;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.menu-background h1{
    margin-left: 20px;
    line-height: 70px;
    z-index: 98;
    transition: 0.3s;
    color: white;
}

.menu-background h1 div{
    margin: 6px 0px 10px 0px;
    height: 54px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/Nav_web_top_logo_white.png");
}

.menu-background.scroll-changed h1 div{
    transition: 0.3s;
    color: #0A62A9;
    background-image: url("../img/Nav_web_top_logo_blue.png");
}

.menu-button {
    position: fixed;
    height: 60px;
    width: 60px;    
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}

.menu-button span, .menu-button span::before, .menu-button span::after{
    position: absolute;
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    background-color: white;
    transition: 0.3s;
    border-radius: 1px;
}

.menu-button span::before {
    bottom: 8px;
}

.menu-button span::after{
    top: 8px;
}

#hams.scroll-changed,#hams.scroll-changed::after,#hams.scroll-changed::before{
    background: #0A62A9;
}

#menu-ham:checked + label.menu-button span{
    background-color: transparent;
}

#menu-ham:checked + label.menu-button span::after{
    transition: 0.6s;
    top: 0;
    background: #0A62A9;
    transform: rotate(405deg);
    opacity: 1;
}

#menu-ham:checked + label.menu-button span::before{
    transition: 0.6s;
    bottom: 0;
    background: #0A62A9;
    transform: rotate(-405deg);
    opacity: 1;
}

/* menu - style */
@keyframes open-menu{
    0%{
        opacity: 0;
        z-index: 0;    
    }100%{
        opacity: 1;
        z-index: 96;
        background: white;
    }
}

#menu-ham:checked + label.menu-button + nav.menu-container{
    display: block !important;
    animation: open-menu 0.4s ease-in-out .1s forwards;
}

#menu-ham:checked + label.menu-button + nav.menu-container + .menu-background{
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #0A62A9;
}

#menu-ham:checked + label.menu-button + nav.menu-container + .menu-background  h1 div{
    transition: 0.3s;
    color: #0A62A9;
    background-image: url("../img/Nav_web_top_logo_blue.png");    
}

/* menu (close) */
nav.menu-container{
    padding: 120px 30px;
    display: none;
    z-index: 0;
    position: fixed;
    top: 0;
    opacity: 0;
    background: white;
    height: 100vh;
    width: 100vw;
}

.space{
    height: 75px;
    width: 20%;
}

.menu-container a{
    transition: 0.2s;    
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #2e2e2e;
    font-size: 1.0em;
    font-weight: bold;
}

.menu-container a.current-page{
    color: #0A62A9;    
}

.menu-container a:hover{
    transition: 0.5s;
    color: #0A62A9;
}

.menu-container a:after{
    display: inline-block;
    content: '　';
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-color: #2e2e2e #2e2e2e transparent transparent;
    transform: rotate(45deg) translateX(14px);
    transition: 0.2s;
}

.menu-container a:hover:after{
    transition: 0.6s;
    transform: rotate(45deg) translateX(18px) translateY(-4px);
}
/* end menu style*/

.mark::before{
    content: '-' ;
    margin-right: 3px;
}

/* top section */

@keyframes back {
   100% {
       background-position: -100% 0;
   }
}

.top-background-img{
    position: absolute;
    width: 100%;
    height: 100%;
    background:  #0A62A9;
}

.can-animation{
    animation: back 50s linear infinite;
    animation-direction:  alternate;    
}

/* background */
div.top-background{
    z-index: 1;
    background: #0A62A9;
    height: 200px;
    width: 100vw;
}

div.top-content{
    z-index: 95;    
    position: fixed;
    position: relative;
    top: 70px;
}

div.top-content h2{
    display: inline-block;
    text-align: center;
    width: 100%;
}

section.index-info{
    z-index: 999;
    padding: 0 0 7vw 0;    
    background: white;
    transform: translate3d(0,0,0);         
}

.video iframe{
    display: block;
    height:45vw;
    width:80vw;
    margin: auto;
    margin-bottom: 10px;
}

.bingo_sheet{
    height:17vw;
    width:74vw;
    margin-left:auto;
    margin-right:auto;
}

p{
    padding:2.5vw;
    font-size:5vw;
}

div#bingo-container{
    font-size:5vw;
    z-index: 999;
    color: white;
}

table{
    background:white;
    margin-right:auto;
    margin-left:auto;
    border:solid;
    border:7vw solid;
    border-color:#ffb938;
}

table tr td div{
    font-family: "impact", sans-serif;
    margin: 1px;
    height: 8vw;
  /*   max-height: 120px;
    max-width: 120px; */
    width: 8vw;
    line-height: 8vw;
    text-align: center;
    border-radius: 8vw;
    background: #d90000;
    cursor: pointer;
    margin-right:2vw;
    margin-left:2vw;
    margin-bottom:2vw;
    margin-top:2vw;    
}

table tr td div:hover{
    transition:1s;
    color:white;
    background:green;
}

table tr td div[data-is-open="0"]{
    font-family: "impact", sans-serif;
    box-shadow:0px 0px 5px 1px black inset;
    background: #ff4d00;
    color: white;
    transition: 0.3s;
}

footer{
    transform: translate3d(0,0,0);     
    padding: 8vh;
    background: white;    
}

.copyright{
    text-align: center;
    font-size: 0.5em;
    color: #0A62A9;
}